@charset "UTF-8";

body{
    font: normal 15pt arial;
    background-color: rgb(142, 134, 143);


}

header{
    text-align: center;
    color: white;


}


section{
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.447);

   
    
   

}

select#flista{
    width: 120px;


}


div{
    padding: 8px;


}


footer{
    text-align: center;
    color: rgb(244, 241, 238);




}